body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.main_menu {
    background-color: whitesmoke;
    padding-top: 1px;
    padding-left: 1px;
    border: 1px solid black;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
}


.title {
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;

    .gerb {
        border: 1px solid black;
        border-radius: 2px;

        &:hover {
            border: 2px solid black;
        }
    }

    .captionuaat {
        font-size: 14px;
        margin-left: -5.5px;
        font-weight: 600;
    }

    .blue {
        background-color: rgba(19, 19, 190, 0.687);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 50px;
    }

    .yellow {
        background-color: rgba(255, 255, 0, 0.578);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 50px;
    }
}

.info {
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 170px;
    margin-right: 170px;
    width: 60%;

    h1 {
        border-left-color: rgba(19, 19, 190, 0.687);
        border-left-style: solid;
        border-left-width: 4px;
        padding-left: 20px;
        font-size: 50px;
    }

    h5 {
        font-style: italic;
    }

    .list_que {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
        .que {
            text-decoration: none;
            color: rgb(3, 3, 105);
            letter-spacing: 1px;
            font-style: italic;
            font-weight: 500;

            &:hover {
                color: red;
                text-decoration: underline;
            }

            &:active {
                color: black;
                text-decoration: none;
            }

        }
    }
}